.main {
  display: grid;
  place-content: center;
  text-align: center;
}

.input {
  margin-top: 10px;
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.button {
  margin-top: 10px;
  padding: 0.8rem;
  width: 70%;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #d52941;
  border: 1px solid #d52941;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

@keyframes animationdots {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animationdots {
  animation: animationdots 1.5s ease-in-out infinite;
}

.gallery {
  margin-top: 90px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
